/* Tariff Edit */

.title {
    font-size: 1.4rem;
    letter-spacing: -1px;
    font-weight: 600;
    padding-bottom: 1%;
    padding-top: 1%;
}

.tariff-record-edit {
    padding: 5px 15px;
    border: 1px solid rgba(180, 180, 16, 0.849);
    color: rgba(180, 180, 16, 0.849);
    border-radius: 5px 0 0 5px;
    font-size: 0.8rem;
}

.tariff-record-delete {
    padding: 5px 15px;
    border: 1px solid rgba(206, 13, 13, 0.856);
    color: rgba(206, 13, 13, 0.856);
    border-radius: 0 5px 5px 0;
    font-size: 0.8rem;

}